/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: #0c0;
	border-radius: 3px;
	background-color: #222;
	color: #0c0;
	font-size:16px;
	line-height: 1;
	font-family: 'Exo';
	padding: .75rem 2.25rem;

	&:hover {
		border-color: #090;
		color: #090
	}

	&:active,
	&:focus {
		border-color: #090;
	}

	@media (min-width: 620px)
 {
    font-size: 1.25rem;
}
}



/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #0c0;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: 'Exo';

	&:focus {
		color: #0c0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
