/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */

body {
    font-family: Exo Web,sans-serif;
}

.page-template-default {
    background-color: #222;
}

ul#primary-menu {
    display: flex;
}

li {
    border-right: 1px solid #fff;

}

div.site-info {
    display: flex;
    flex: wrap;
}


.blog {
    background-color: #222;
}

p {
    color: #ffffff;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Exo Web';
}

h2 {
    color: #ffffff;
}

ul {
    list-style-type: none;
}

 a {
 color: #0c0;
 text-transform: capitalize;
 line-height: 1;
 padding: 0 1rem;
 list-style-type: none;
 font-family: 'Exo Web', sans-serif;
 &:hover {
    color: #090
}
 }

.primary-menu {
    color: #0c0;
}

// div.site-info {
// margin: 4.5rem 0 3rem;
// }

// Media Query

// @media (min-width: 620px) {

// }

// Desktop:

// .site-content::before {
//     @include desktop-size {
//         font-family: FontAwesome;
//         content: "\f10d";
//         color:$color_quotes;
//         font-size: 100px;

//     } 

//   }

//   .site-content::after {
//     @include desktop-size {
//       font-family: FontAwesome;
//       content: "\f10e";
//       color:$color_quotes;
//       font-size: 100px;

    // } 

//   }
