/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */

* {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1060px;
    padding: 2.5%;
    width: 100%;
    margin-bottom: 24px;
}

body {
    font-family: Exo Web,sans-serif;
}

.page-template-default {
    background-color: #222;
}

ul#primary-menu {
    display: flex;
}

li {
    border-right: 1px solid #fff;

}

.archive .entry-meta, .blog .entry-meta, .single .entry-meta {
    margin-bottom: 3rem;
}

.archive .entry-title, .blog .entry-title, .single .entry-title {
    display: inline;
    font-size: 1.25rem;
    font-weight: 400;
    // margin-bottom: 0;
}

div.site-info {
    display: flex;
    flex: wrap;
    margin: 4.5rem 0 3rem;
}

.blog {
    background-color: #222;
}

p {
    color: #ffffff;
    // line-height: 1;
    font-size: 16px;
    font-family: 'Exo Web';
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

h2.entry-title {
    color: #ffffff;
}

p.footer {
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

 a {
 color: #0c0;
 text-transform: capitalize;
 line-height: 1;
 padding: 0 1rem;
 list-style-type: none;
 font-family: 'Exo Web', sans-serif;
 &:hover {
    color: #090;
}
}

.primary-menu {
    color: #0c0;
}

.site-content::after {
    @media (min-width: 1080px) {
        font-family: FontAwesome;
      color: #0c0;
      content: "\f10e";
      line-height: 125px;
      font-size: 100px;
      right: 175px;
    }
}

.site-content::before {
    @media (min-width: 1080px) {
        font-family: FontAwesome;
        color: #0c0;
        content: "\f10d";
        line-height: 125px;
        font-size: 100px;
        position: absolute;
        left: -175px;
    } 
}

@media (min-width: 620px) {
 p {
    font-size: 1.75rem; 
}

}
